@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: color("purple");
  background: -webkit-linear-gradient(to right, color("purple"), color("red"));
  background: linear-gradient(to right, color("purple"), color("red"));
}