<footer>
    <div class="container text-center text-white">
        <ul class="list-inline mt-2">
            <li class="list-inline-item">
                <small>created by <a class="text-light" href="https://github.com/vittominacori" target="_blank">@vittominacori</a></small>
            </li>
            <li class="list-inline-item">
                <small>
                    GitHub:
                    <a class="text-light" href="https://github.com/vittominacori/erc20-generator" target="_blank">Smart Contract</a> -
                    <a class="text-light" href="https://github.com/vittominacori/erc20-generator/tree/gh-pages" target="_blank">DApp</a>
                </small>
            </li>
        </ul>
    </div>
</footer>