<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta property="og:type" content="website">
    <meta property="og:url" content="{% if page.permalink %}{{ page.permalink | absolute_url }}{% else %}{{ '/' | absolute_url }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.social_image %}{{ page.social_image | absolute_url }}{% else %}{{ site.social_image | absolute_url }}{% endif %}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="twitter:image" content="{% if page.social_image %}{{ page.social_image | absolute_url }}{% else %}{{ site.social_image | absolute_url }}{% endif %}" />


    <link rel="icon" href="{{ 'img/favicon.png' | absolute_url }}">
    <!--[if IE]><link rel="shortcut icon" href="{{ 'img/favicon.ico' | absolute_url }}"><![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ 'css/main.min.css' | absolute_url }}" rel="stylesheet">

</head>