<section id="token-generator">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 p-0 card bg-light">
            <div class="card-body">
                <h5 class="card-title">{{ site.name }}</h5>
                <p class="card-text">{{ site.description }}</p>
                <small v-if="!hasMetaMask">You need the <a href="https://metamask.io/" target="_blank">MetaMask</a> extension.</small>

                <div class="alert alert-success mt-3" role="alert" v-if="makingTransaction">
                    <div>Making transaction.</div>
                    <div v-if="!trxHash">Please wait...</div>
                    <div v-else>
                        <b>Well! Transaction done!</b><br>
                        Transaction id <a :href="trxLink" target="_blank"><span v-html="trxHash"></span></a><br>

                        Retrieving Token.
                        <div v-if="!token.address">Please wait...</div>
                        <div v-else>
                            <b>Your Token</b> <a :href="token.link" target="_blank"><span v-html="token.address"></span></a><br><br>
                            <div class="form-group">
                                <label>ABI</label>
                                <textarea class="form-control"
                                          readonly="readonly" rows="5"
                                          v-model="token.stringifiedAbi"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <form v-on:submit.prevent="generateToken" class="mt-3" v-if="!makingTransaction">
                    <fieldset :disabled="formDisabled">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="col-form-label" for="tokenName">Token name *</label>
                                            <input type="text" class="form-control"
                                                   v-validate="'required'"
                                                   :class="{'is-invalid': errors.has('tokenName')}"
                                                   v-model="token.name"
                                                   id="tokenName"
                                                   name="tokenName"
                                                   maxlength="20"
                                                   placeholder="Your token name">
                                            <small class="form-text text-muted">
                                                Choose a name for your token
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="col-form-label" for="tokenSymbol">Token symbol *</label>
                                            <input type="text" class="form-control"
                                                   v-validate="'required'"
                                                   :class="{'is-invalid': errors.has('tokenSymbol')}"
                                                   v-model="token.symbol"
                                                   id="tokenSymbol"
                                                   name="tokenSymbol"
                                                   maxlength="5"
                                                   placeholder="Your token symbol">
                                            <small class="form-text text-muted">
                                                Choose a 3 to 5 chars symbol for your token
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="col-form-label" for="tokenDecimals">Token decimals *</label>
                                            <input type="number" class="form-control"
                                                   v-validate="'required|numeric'"
                                                   :class="{'is-invalid': errors.has('tokenDecimals')}"
                                                   v-model="token.decimals"
                                                   id="tokenDecimals"
                                                   name="tokenDecimals"
                                                   min="0"
                                                   max="18"
                                                   step="1"
                                                   placeholder="Your token decimals">
                                            <small class="form-text text-muted">
                                                Insert the decimal precision of your token. If you don't know what to insert, use 18
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <input type="submit" value="Create Token" class="btn btn-success btn-xl">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <span class="badge p-2 mr-3" :class="testnet ? 'badge-warning' : 'badge-success'" v-html="networkName"></span>
                <br class="d-block d-md-none">
                <small v-if="!testnet">Want to try on <a href="{{ '/rinkeby' | absolute_url }}">Rinkeby Test Network</a>?</small>
                <small v-if="testnet">Want to really deploy your token on <a href="{{ '/' | absolute_url }}">Main Ethereum Network</a>?</small>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2 mt-3 p-0">
            <a href="https://www.friendsfingers.com/?utm_campaign=github&utm_source=erc20-generator" target="_blank"><img src="{{ 'img/friends-fingers-banner.png' | absolute_url }}" class="img-fluid" alt="FriendsFingers"></a>
        </div>
    </div>
</section>
