{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "infuraProjectId": "XXXXXXXXXXXXXXXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x1",
    "ropsten": "0x2",
    "rinkeby": "0x3",
    "kovan": "0x4",
    "goerli": "0x5"
  }
}
